/* body {

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url("/src/Assets/pietro-de-grandi-T7K4aEPoGGk-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

.appContainer {
  color: white;
  font-weight: bold;
  
  background: rgba(24, 24, 24, 0.5);
  height: 100vh;
}
.space{
  padding: 20px 70px;
}

.time {
  font-size: 70px;
  font-weight: 100px;
}
.amPm {
  font-size: 30px;
  margin-left: 20px;
  font-weight: 100px;
}
.date {
  font-size: 30px;
}
.city {
  text-align: end;
  padding-top: 50px;
  font-size: 30px;
}
.daily {
  background: rgba(24, 24, 24, 0.5);
  padding: 30px;
  position: fixed;
  bottom: 0;
  display: flex;
  color: white;
  width: 100%; 
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  left: 0;
}
.dayName {
  padding: 5px 15px;
  background: #142424;
  border-radius: 50px;
  text-align: center;
}
.dailyCard{
  border-radius: 10px;
  padding: 5px;
  margin:5px;
}
.today{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #eee;
  border-radius: 10px;
  padding:15px;
  padding-right: 40px;
  border-radius: 10px;
  background: rgba(0,0,0,0.2);
 
}

.detailed{
   background: rgba(24, 24, 24, 0.5);
   border-radius: 10px;
   width: 100%;
   height:60vh;
   margin-top:50px
}
.detailed-box{
  padding-top: 30px;
  height:20vh

}
.search{
  width:80%;
  margin:auto;
  margin-top: 40px
}
.login{  
    background: rgba(24, 24, 24, 0.5);
    border-radius: 10px;
    width: 50%;
    margin:auto;
    height:60vh;
    margin-top:50px 
}
.input{
  border-radius:20px;
  background: transparent;
  border: 1px solid white;
  color: white;  
}

.form {
  --color-primary: #009579;
  border: 1px solid black;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  font-size: 18px;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.formContainer {
  width: 400px;
  max-width: 400px;
  margin: 1rem;
  padding: 2rem;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.8);
  border-radius: 10px; 
  border: 1px soid white;
  /* background: transparent; */
  background-color: rgba(0, 0, 0, 0.8);
  /* background-color: white; */

}
input{
  /* background: transparent; */
  background-color: rgba(243, 234, 234, 0.8);
  color: white;
  width: 70%;
  border-radius: 5px;
  margin:10px 0px;
  padding:10px 5px;
}

.btn{
  padding: 5px 5px;
  border-radius: 5px;
  background-color: rgba(243, 234, 234, 0.8);

}

.hidden{
  display: none;
}